
data-results/Geoduck-transcriptome-v2.fasta

jupyter-nbs/.ipynb_checkpoints/
jupyter-nbs/.ipynb_checkpoints/00-Quality-Assessment-checkpoint.ipynb

jupyter-nbs/analyses/Geoduck-transcriptome-v2*
data-results/Geoduck-transcriptome-v3.fa

data-results/Geoduck-transcriptome-v3.tab

jupyter-nbs/analyses/uniprot_go_info


jupyter-nbs/analyses/tr*


data-results/Geoduck-transcriptome-v3.tab.sorted

jupyter-nbs/analyses/Geoduck-tranv3-nonSPannot.index

information.lic

jupyter-nbs/.DS_Store

.DS_Store

data-results/.DS_Store

data-results/Geoduck-transcriptome-v3annotated.fa

paper-reproducible/data/Geoduck-transcriptome-v3.fa
