
data-results/Geoduck-transcriptome-v2.fasta

jupyter-nbs/.ipynb_checkpoints/
jupyter-nbs/.ipynb_checkpoints/00-Quality-Assessment-checkpoint.ipynb

jupyter-nbs/analyses/Geoduck-transcriptome-v2*
data-results/Geoduck-transcriptome-v3.fa

data-results/Geoduck-transcriptome-v3.tab

jupyter-nbs/analyses/uniprot_go_info


jupyter-nbs/analyses/tr*


data-results/Geoduck-transcriptome-v3.tab.sorted
